 * {
  margin: 0;
  padding: 0;
}
.headflex{
  display: flex;
  justify-content: space-between;
  background-color: rgb(244, 248, 250);
  height: 67px;
  list-style-type: none;
 
}
.contactadd{
  width: 36px;
    height: 35px;
    margin-right: 24px;
    margin-top: 17px;
}

.inputing{
  width: 450px;
  margin-top: 15px;
  margin-left: 91px;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}
.colors {
  background-color:rgb(244, 248, 250);
    width: 332px;
    
    height: 700px;

    /* border-radius: 10px; */
    margin-top: -16px;
    font-weight: 600;
  }
  /* .colors:hover{
    background-color: #06d93b;
    color: white;
    font-weight: 700;
  } */


.pic1 {
  width: 107px;
  height: auto;
  margin-left: 56px;
  margin-top: -22px;
}

.pic2 {
  width: auto;
  height: 30px;
  margin-left: 78px;
  margin-top: 47px;
}

.pic3 {
  width: auto;
  height: 30px;
  margin-left: 78px;
  margin-top: 34px;
}

.pic4 {
  width: auto;
  height: 30px;
  margin-left: 78px;
  margin-top: 29px;
}

.pic5 {
  width: auto;
  height: 30px;
  margin-left: 80px;
  margin-top: 9px;
}

.pic6 {
  width: auto;
  height: 30px;
  margin-left: 80px;
  margin-top: 25px;
}

.pic7 {
  width: auto;
  height: 30px;
  margin-left: 80px;

  margin-top: 23px;

}

.pic8 {
  width: auto;
  height: 30px;
  margin-left: 75px;
  margin-top: 25px;

}

.pic2s {
  width: 70px;
  height: 70px;
  margin-left: 59px;
  margin-top: 9px;
}

.flex {
  display: flex;
}

.home {
  font-size: 17px;
  margin-top: 53px;
    margin-left: 33px;
    font-weight: 360;
}


.search {
  font-size: 17px;
  margin-top: 33px;
  margin-left: 35px;
  font-weight: 360;
}

.explore {
  font-size: 17px;
 
  margin-top: 32px;

  margin-left: 34px;
  font-weight: 360;
}

.reels {
  font-size: 17px;
  margin-top: 31px;
  margin-left: 14px;
  font-weight: 360;
}

.message {
  font-size: 17px;
  margin-top: 11px;
  margin-left: 35px;
  font-weight: 700;
  color: #2F4858;
}
.notification {
  font-size: 17px;
  margin-top: 30px;
  margin-left: 37px;
  font-weight: 360;
}

.create {
  font-size: 17px;
 
  margin-top: 24px;

  margin-left: 36px;
  font-weight: 360;
}

.profile {
  font-size: 17px;
    margin-top: 27px;
    margin-left: 30px;
    font-weight: 360;
}

.vertical {
  border: 2px solid #ffffff;
  width: 698px;
  transform: rotate(90deg);
  margin-left: -16px;
  margin-top: -210px;

}

.pic9 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 18px;
  margin-top: -6px;
  border: 5px solid #65B6FA;
}


.stories {
  margin-left: 3px;
  margin-top: 23px;
  font-size: 16px;
}

.cir {
  border: 2px solid;
  height: 71px;
  width: 71px;
  border-radius: 50%;
  /* margin-left: 344px; */
  position: relative;
  top: -689px;
  left: 361px;
  background-color: white;
}

.fleximage {
  display: flex;
  margin-left: 70px;
  margin-top: -50px;

}

.searchbox {
  width: 300px;
  height: 50px;
}

.slide1 {
  width: 720px;
  height: 400px;
}

.aaaa {
  width: 720px;
  margin-left: 378px;
  margin-top: -675px;
}
.pics {
  width: auto;
  height: 35px;
  margin-top: -10px;
  margin-left: 50px;
}

.flexing {
  display: flex;
}

.ify {
  width: 50px;
  height: 50px;
}

.flexl {
  display: flex;
}

.sdds {
  margin-left: 50px;
  width: 338px;
  margin-top: 6px;
  height: 34px;
  border: 3px solid #aa86cc;
  border-radius: 7px;
  padding-left: 10px;
}

.submit {

  margin-top: -36px;
  margin-left: 414px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);

}

.txt {
  margin-left: 115px;


  margin-top: 7px;
  font-size: 26px;
  color: #000000;
}

body {
  background-color: #ffffff;
  /* overflow: hidden; */

}


.vertical1 {
  border: 1px solid #4C4637;
  width: 726px;
  transform: rotate(90deg);
  margin-left: 776px;
  position: relative;
  top: 368px;
  position: fixed;
}
.sponser {
  font-size: 30px;
  position: fixed;
  top: 76px;
  left: 1250px;
  font-weight: 700;
  text-decoration: underline;
  color: #000000;
}


.flexdeal {
  display: flex;
  position: fixed;
  float: right;
  left: 1175px;
  top: 116px;
}

.flexdeal1 {
  display: flex;
  position: fixed;
  float: right;
  left: 1175px;
  top: 242px;
}

.flexdeal2 {
  display: flex;
  position: fixed;
  float: right;
  left: 1175px;
  top: 368px;
}

.flexdeal3 {
  display: flex;
  position: fixed;
  float: right;
  left: 1175px;
  top: 494px;
}

.gif {
  width: 100px;
  height: 100px;
  margin-left: 7px;
  border-radius: 4px;
  margin-top: 30px;
}


.more {
  border-radius: 10px;
  float: right;
  position: fixed;
  top: 672px;
  left: 1273px;
  width: 90px;
  border: 1px solid white;
  font-weight: 600;
  background-color: #DEE4E7;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 17px;
  padding: 2px 13px;
  color:#00A4E8;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  margin-top: -14px;


}

.akm {
  margin-top: -4px;
}

.delete {
  margin-left: 474px;
  /* margin-top: -47px; */
  position: relative;
  top: -33px;
  font-size: 18px;
  color: red;
  cursor: pointer;
}

.gpara {
  margin-left: 16px;
  color: #030303;
  font-size: 14px;
  margin-top: 33px;
}
.carousel-control-next-icon {

  margin-top: -138px;
  color: #ffffff;

  margin-left: 74px;
}

.carousel-control-prev-icon {
  margin-top: -137px;
  color: #ffffff;
  margin-left: -71px;
}  


.coloring {
  background-color: rgb(244, 248, 250);
  width: 340px;
  height: 700px;
  position: fixed;
  left: 1152px;
  top: 67px;
  /* border-radius: 9px; */
}